<launch>
  <!-- Launch ublox_utils -->
  <include file="$(find ublox_utils)/launch/ublox.launch">
    <arg name="device_position_receiver" value="/dev/ttyACM0" />
    <arg name="use_ntrip" value="true" />
    <arg name="ntrip_username" value="koreadh12" />
    <arg name="ntrip_password" value="ngii" />
  </include>

  <!-- Launch utm_lla -->
  <include file="$(find utm_lla)/launch/coordinate_convertion.launch" />
</launch>

